.panel-heading{
  text-align: center;
}

.panel-body {
  text-align: center;
}

.panel-body p{
  font-size: 18px;
}


.well {
  padding-left: 50px;
  background-color: #e6f9ff;
}

.well p{
  font-size: 18px;
}

.well h1{
  text-align: center;
}

img{
  width: 150px;
  height: 150px;
  padding-top: 20px;

}

.jumbotron {
  background-color: inherit;
  overflow: hidden;
  border-bottom: solid black;
}


.panel-title{
  color: black;
}

.panel-heading h3{
  font-family: fantasy;
}

.panel-heading h1{
  font-size: 20px;
}

.jumbotron {
  text-align: center;

}

.jumbotron ul{

  list-style-type: none;
  font-family: sans-serif;
  font-size: 20px;
  color: black;
  padding-top: 30px;
}

h1 {
  font-family: serif;
}

body {
}
#dyl {
  text-align: center;
  padding-bottom: 20px;
}

#project {
  text-align: center;
  padding-bottom: 30px;
}

#listy{
  text-align: left;
}

ol{
  font-size: 18px;
}
