body {
  background-color: none;
  font-family: sans-serif;
}

.jumbotron {
  background-color: white;
  border-bottom: solid black 3px;
}

.radio {
font-weight: bold;
}

.apply {
  display: none;
}

img {
  height: 300px;
  width: 600px;
}

.results {
  font-family: cursive;
  border: solid 2px black;
  display: none;
  padding: 30px;
  text-align: center;
  font-size: 20px;
  background-color: lightgrey;
}
